
<div class="dataViewContainer">
    <div *ngIf = "awaitingSites === false; else displaySpinner" class="list-container"> 
        <p-dataView #dv [value] ="vaccineSites" filterBy ="name,address" [paginator]="true" [rows]="5" class="dataView">
            <ng-template pTemplate="header">
                <span class="p-input-icon-left p-mb-2 p-mb-md-0 input-container">
                    <input type="search" pInputText placeholder="Search by Site Name, City, or ZIP Code" (input)="dv.filter($any($event.target).value, 'contains')">
                    <i class="pi pi-search"></i>
                </span>
                <div class="filter-container">
                    <app-county-filter></app-county-filter>    
                </div>   
            </ng-template>
            <ng-template let-site pTemplate="listItem">
                <div *ngIf = "site.appointments.length === 0; else showCard">
                    <p-accordion>
                        <p-accordionTab header="Unavailabe: {{site.name}}">
                            <app-vaccine-site-card [vaccineSiteInfo] = site></app-vaccine-site-card>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <ng-template #showCard>
                    <app-vaccine-site-card [vaccineSiteInfo] = site ></app-vaccine-site-card>
                </ng-template>
            </ng-template>
        </p-dataView>
    </div>
    <ng-template #displaySpinner>
        <div class="main-display-spinner-container">
            <div class="display-spinner-container">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <div class="display-spinner-text-container">
                <p class="spinner-text"> Retrieving Vaccination Sites ... </p>
            </div>
        </div>
    </ng-template>
</div>