<div class="p-d-flex">
    <div class="home-info-container">
        <div class="info-wrapper">
            <h2 class="info-header"> How This Works </h2>
            <p class="info-p"> The app searches through many of Arizona's vaccination web-portals to find any available appointments. </p>
            <p class="info-p"> If any sites with available appointments are found, we showcase their times, and the "Go Register" button will take you to their web-portal to register . </p>
            <p class="info-p"> Please make sure to copy the address of the location. Most sites will ask which location would you like to book an appointment. Also have your personal info handy. </p>
            <p class="info-p"> If a site without any appointments are found, we make sure to place them at the bottom of the list. </p>
        </div>
    </div>
    <p-divider layout="horizontal"></p-divider>
    <div class="home-info-container">
        <div class="info-wrapper">
            <h2 class="info-header">Find More Vaccines</h2>
            <p class="info-p"> Our site might miss some vaccine availability. Please make sure to visit AZDHS' official vaccine tracker 
                <a href ="https://azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/index.php#novel-coronavirus-find-vaccine" target="_blank">
                 here 
                </a>
                 .
            </p>
        </div>
    </div>
    <p-divider layout="horizontal"></p-divider>
    <div class="home-info-container">
        <div class="info-wrapper">
            <h2 class="info-header"> AZDHS Vaccine Registration </h2>
            <p class="info-p">
                Take an extra step in ensuring your registration for a COVID-19 Vaccine. Vist AZDHS's official vaccine registration portal
                <a href ="https://podvaccine.azdhs.gov/" target = "_blank"> here </a> . 
            </p>
        </div>
    </div>
    <p-divider layout="horizontal"></p-divider>
    <div class="home-info-container">
        <div class="info-wrapper">
            <h2 class="info-header"> Additional Resources </h2>
            <p class="info-p"> AZ Vaccine Priority By County:  <a href = "https://azdhs.gov/documents/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/novel-coronavirus/vaccine-phases.pdf" target = "_blank"> click here</a> </p>
        </div>
    </div>
</div>