.home-container { 
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row;
}
.home-info-container { 
    display: flex;
    flex-flow: row;
}

.info-wrapper { 
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}
.info-header { 
    font-family: Arial, Helvetica, sans-serif;
}

.info-p { 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}




@media only screen and (max-width: 770px) { 

}